h1
{
    color: antiquewhite;
    text-align: center;
}body{
    background-color: black;
}
#item
{
  width: 80%;
  height: 80px;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 4%;
}
#add{
    color: black;
    margin-top: 10%;
    width: 120px;
    height: 80px;
}
.press:hover
{
background-color:lavender;
cursor: pointer;
    
}
ul.addon li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
  
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


